<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Initial State Geo Track.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1677A96D1C52A730001B73C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1677A9811C52A730001B73C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1677A98C1C52A730001B73C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
